/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a { color: #000; text-decoration: none; }
a:hover { color: #F00; }
#first-line {
	height: 60px;
	background: url(main_11.jpg) repeat-x 0px 0px;
}
#first-line ul { list-style: none; margin: 0px; padding: 0px; }
#first-line ul li .a10{ float:left; padding: 0px 10px; height: 60px;   }
#first-line ul li .a1{ float:right; padding: 0px 10px; height: 60px;   }
#first-line ul li .a2{ float:right; padding: 0px 10px; height: 60px;   }
#first-line ul li .a3{ float:right; padding: 0px 10px; height: 60px;   }
#first-line ul li .a4{ float:right; padding: 0px 10px; height: 60px;   }

#menu { border: 1px solid #CCC; height:40px; background: #eee;}
#menu ul { list-style: none; margin: 0px; padding: 0px; }
#menu ul li { float:left; padding: 0px 0px 0px 30px; height: 40px; line-height: 40px; font-size:150%; }
