<% if false %>
<div id="system_info"> 
        <%=  image_tag("next.gif", :border=>0) %>当前操作系统： <span id="platform"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        浏览器： <span id="broswer"></span>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<% end %>
<div id="system_info"> 
        <%=  image_tag("next.gif", :border=>0) %>&nbsp;&nbsp;管理： 治安大队&nbsp;&nbsp;&nbsp;&nbsp;技术支持： 网警大队
        &nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved
<span id="time"></span>
</div>
