<% if false %>
<audio id="player" controls="true" src="http://mp3.wooeu.com/mp3.php/15314202/mp3wooeu.mp3">你的浏览器太烂了，请更换浏览器先。</audio>
<div id="login-info">
  <span id="result"></span>
   &nbsp;&nbsp;&nbsp;&nbsp;
  <span>欢迎您，<%= User.find(session[:user_id]).username %></span>
  <span class="color-gray">|</span>
<%= link_to t('sign_out'),logout_path %>
</div>
<% end %>
<div id="first-line">
<ul>
<li><a href="#" class="a10"><img src="assets/main_12.jpg" alt=""></a></li>
<li><a href="#" class="a1"><img src="assets/main_17.jpg" alt=""></a></li>
<li><a href="#" class="a2"><img src="assets/main_18.jpg" alt=""></a></li>
<li><a href="#" class="a3"><img src="assets/main_19.jpg" alt=""></a></li>
<li><a href="#" class="a4"><img src="assets/main_20.jpg" alt=""></a></li>
</ul>
</div>
<div id="menu">
<ul>
<li><a href="#">我的桌面</a></li>
<li><a href="#">新增人员</a></li>
<li><a href="#">人员列表</a></li>
<li><a href="#">征兵联审</a></li>
<li><a href="#">统计分析</a></li>
<li><a href="#">用户管理</a></li>
<li><a href="#">部门管理</a></li>
<li><a href="#">帮助中心</a></li>
</ul>
</div>
